* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #ededed;
    --text-color: #1c1c1c;
    --link-color: #FF8000;
    --font-logo: 'Julius Sans One', sans-serif;
    --font-headlines: 'Josefin Sans', sans-serif;
    --font-text: 'Montserrat', sans-serif;
    --breakpoint-tablet : min
}

html {
    font-size: medium;
    line-height: 145%;
}

body {
    background-color: var(--bg-color);
}

hr {
    color: var(--text-color);
}

.img-responsive {
    height: auto;
    width: 100%;
}

.headline--redundant {
    display: none;
}

.header {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 2rem;
    width: 100%;
}

.header__logo {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-bottom: 2rem;
    width: 100%;
}

.header__heading {
    color: var(--text-color);
    font-family: var(--font-logo);
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.header__text {
    color: var(--text-color);
    font-family: var(--font-logo);
}

.header__nav {
    width: 100%;
}

.header__nav__list {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    list-style-type: none;
    width: 100%;
}

.header__nav__item {
    display: block;
}

.header__nav__link {
    color: var(--link-color);
    font-family: var(--font-logo);
    font-weight: 700;
    text-decoration: none;
}

.main__parallax-image-1 {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: url("../img/stick_1.jpg");
    background-attachment: fixed;
    background-position: 90% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.main__parallax-image-2 {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 60vh;
    background: url("../img/thomas_flo_bw.jpg");
    background-attachment: fixed;
    background-position: 65% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.main__parallax-image-3 {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 60vh;
    background: url("../img/stick_2.jpg");
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-image__headline {
    color: var(--bg-color);
    font-family: var(--font-headlines);
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.5rem;
}

.main__section {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 0.5rem;
    width: 100%;
}

.main__section__h1 {
    color: var(--text-color);
    font-family: var(--font-headlines);
    font-size: 1.75rem;
    font-weight: 300;
    margin: 1rem 0 0.5rem 0;
}

.main__section__h2 {
    color: var(--text-color);
    font-family: var(--font-headlines);
    font-size: 1.5rem;
    font-weight: 300;
    margin: 1rem 0;
}

.main__section__row {
    display: flex;
    flex-flow: column nowrap;
    padding: 0 1rem;
}

.main__section .column__headline {
    padding-left: 1rem;
}

#contact .column__headline,
.main__section__column-left .column__headline,
.main__section__column-right .column__headline {
    padding-left: 0;
}

.main__section__row--dark,
.main__section__row--dark .main__section__column-left,
.main__section__row--dark .main__section__column-right,
.main__section__row--dark .column__headline,
.column__headline.column-headline--dark {
    background-color: var(--text-color);
    color: var(--bg-color);
}

.column__headline.column-headline--dark {
    margin: 0;
    padding: 0.5rem 0 0.5rem 1rem;
}

.main__section__column {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.row--margin-bottom {
    margin-bottom: 1.75rem;
}

.column__headline {
    color: var(--text-color);
    font-family: var(--font-headlines);
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0.5rem 0;
}

.main__section__column-left,
.main__section__column-right {
    color: var(--text-color);
    font-family: var(--font-text);
    margin-bottom: 1rem;
    width: 100%;
}

.about__figure {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.about__figcaption {
    align-self: center;
    display: block;
    color: var(--text-color);
    font-family: var(--font-text);
    font-size: 0.9rem;
    margin: 0.5rem 0;
}

.main__contact-address {
    font-family: var(--font-text);
    font-style: normal;
    text-align: center;
}

.main__section_p.contact-email {
    margin-bottom: 1.5rem;
}

.contact__link {
    color: var(--link-color);
    text-decoration: none;
}

.footer { 
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    font-family: var(--font-text);
    width: 100%;
}

.main__section_p {
    color: var(--text-color);
    font-family: var(--font-text);
    margin-bottom: 1rem;
}

.contact__social-links {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 1.5rem 0 0 0;
    width: 100%;
}

.social-link {
    align-items: center;
    color: var(--link-color);
    display: flex;
    font-family: var(--font-text);
    justify-content: center;
    margin: 0.5rem 0;
    text-decoration: none;
}

.social-icon {
    display: block;
    height: auto;
    margin-right: 1rem;
    width: 2rem;
}

.legal__link {
    color: var(--text-color);
    font-size: 0.8rem;
    text-decoration: none;
}

@media (min-width: 667px) {
    .header__nav__link {
        color: var(--link-color);
        font-family: var(--font-logo);
        font-size: 1.1rem;
        font-weight: 700;
        text-decoration: none;
    }

    .main__parallax-image-1 {
        background-position: 100% 50%;
    }
    
    .main__parallax-image-2 {
        align-items: center;
        display: flex;
        justify-content: center;
        min-height: 60vh;
        background: url("../img/thomas_flo_bw.jpg");
        background-attachment: fixed;
        background-position: 65% center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .main__parallax-image-3 {
        align-items: center;
        display: flex;
        justify-content: center;
        min-height: 60vh;
        background: url("../img/stick_2.jpg");
        background-attachment: fixed;
        background-position: 70% center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (min-width: 768px) {
    .main__section__row {
        flex-flow: row nowrap;
    }

    .headline--redundant {
        visibility: hidden;
    }

    .main__section__column-left {
        margin: 0 auto 1rem 0;
        width: 45%;
    }

    .main__section__column-right {
        margin: 0 0 1rem auto;
        width: 45%;
    }
}

@media (min-width: 1024px) {
    /* .main {
        margin: 0 auto;
        width: 80%;
    } */

    .main__parallax-image-2 {
        min-height: 100vh;
    }

    .img-about {
        align-self: center;
        width: 60%;
    }

    .main__section {
        padding: 0;
    }

    .main__section .column__headline {
        padding-left: 10rem;
    }

    .main__section .main__section__row .column__headline {
        padding-left: 0;
    }

    #contact .column__headline {
        padding-left: 0;
    }

    .main__section__row {
        padding: 0 10rem;
        width: 100%;
    }
}
